
  <div class="row">
    <div class="col-2 back"></div>
    <div class="col">

     <div class="just" style="padding-top: 20px">
       <button (click)="remove()" class="btn btn-danger">logout</button>
     </div>
      <h2 style="color: darkturquoise; padding-top: 50px">Welcome {{user.firstname}}</h2>



      <!--this the place invitation shows-->

        <div *ngFor="let invitation of invitations">
          <div *ngIf="invitation.status === 'pending' ">
          <div class="card">
            <div style="padding: 10px;">
              You have an invitation from <b>{{invitation.username}}</b> to join their organization<br>
              <button class="btn btn-success" (click)="joinToOrganization(invitation)">Join</button>
              <button class="btn btn-danger" (click)="rejectInvitation(invitation)">Reject</button>
            </div>
          </div>
        </div>
      </div>

      <br><br>
      <!--this part is used for create organization-->
      <h4>Would you like to create a new organization</h4>
      <button class="btn btn-dark" (click)="showForm()">add Organization</button>

      <div *ngIf="showed" style="padding-top: 20px">
        <form [formGroup]="registerForm" (ngSubmit)="addOrganization()">
          <label for="name"><b>Organization Name</b></label>
          <input id="name" type="text" name="Name" formControlName="name"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                 [(ngModel)] = "organization.name"
                  placeholder="Enter a name">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">First Name is required</div>
          </div>

          <label for="desc"><b>Organization Short Description</b></label>
          <input id="desc" type="text" name="description"
                 formControlName="description" class="form-control"
                 [(ngModel)] = "organization.description"
                 placeholder="Add a small Description"
                 [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">First Name is required</div>
          </div>
          <br>

          <button type="submit" class="btn btn-primary">Create</button>

        </form>
      </div>
      <br><br>
      These are the organizations you have:

      <div class="container">
        <div class="grid">
          <div *ngFor="let organization of organizations">
            <div class="card">
              <div class="frm2">
                <div class="card-header" style="color: brown"><h4>{{organization.name}}</h4></div>
                <p>{{organization.description}}</p>
                <button (click)="openOrganization(organization)" class="btn btn-success">Open</button>
                <button (click)="deleteOrganization(organization)" class="btn btn-outline-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-2 back"></div>
  </div>
