
<div class="container">
  <div class="row">
<div class="col-3"></div>
    <div class="col">
      <div class="homeTop">
        <h2>Create Your Own Organization</h2>
        <h2>Add Your Team Members</h2>
        <h2>Work Smart</h2>
      </div>

      <div>
        <h2>Register with Us</h2>
        <form [formGroup]="registeredForm"  (ngSubmit)="addUser()">
          <div class="form-group">
            <label for="regEmail"><b>Email address</b></label>
            <input type="email" [(ngModel)]="selectedUser.username"
                   name="username" class="form-control" formControlName="email"
                   id="regEmail" aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>

            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

            <label for="regpassword"><b>Password</b></label>
            <input type="password" [(ngModel)]="selectedUser.password"
                   name="password" class="form-control" id="regpassword" formControlName="password" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>

            <label for="fname"><b>First name</b></label>
            <input type="text" [(ngModel)]="selectedUser.firstname" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" name="firstname" class="form-control" id="fname" placeholder="Enter Your First Name">
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">First Name is required</div>
            </div>

            <label for="lname"><b>Last name</b></label>
            <input type="text" [(ngModel)]="selectedUser.lastname" name="lastname" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" class="form-control" id="lname" placeholder="Enter Your Last Name">
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">Last Name is required</div>
            </div>
            <br><button type="submit" class="btn btn-primary">Register</button>

          </div>
        </form>

        <h2>If you are a member already</h2>
        <h4>Click <a routerLink="/login">here</a> to login</h4>
      </div>
    </div>


<div class="col-3"></div>

  </div>
</div>
