<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col" style="padding-top: 100px">

        <div class="card" style="padding: 10px">
          <h1 class="center">{{organization.name}}</h1>
          <p>{{organization.description}}</p>
        </div>
      
      <h3>Add people to your organization:</h3>
      <form [formGroup]="registeredForm">

        <div class="form-group">
          <label for="exampleInputEmail1"><b>Email address</b></label>
          <input type="email" [(ngModel)]="invitation.memberEmail" name="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>

        <button type="submit" (click)="sendInvitation()" class="btn btn-primary">Invite</button>

      </form>

      <div *ngFor="let invitation of invitations">
        <div class="card">
          <div style="padding: 10px">
            you have sent an invitations to email to <br> <b>{{invitation.memberEmail}}</b> <br> Status:  <b>{{invitation.status}}</b><br>
            <div>
              <button (click)="deleteInvitation(invitation)" class="btn btn-outline-danger">Delete</button>
            </div>
          </div>
        </div>

      </div>



    </div>
    <div class="col-2"></div>
  </div>
</div>
